<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>KeepAlive</key>
	<dict>
		<key>Crashed</key>
		<true/>
		<key>SuccessfulExit</key>
		<true/>
	</dict>
	<key>Label</key>
	<string>dnsproxy</string>
	<key>Program</key>
	<string>/opt/adguard-dnsproxy/startup.sh</string>
	<key>StandardErrorPath</key>
	<string>/var/log/dnsproxy-startup.log</string>
	<key>StandardOutPath</key>
	<string>/var/log/dnsproxy-startup.log</string>
</dict>
</plist>